body{
background-color: darkgrey ;
margin: 50px 0 50px 0;/* верх лево вниз право*/
}
.p{
    position: relative;
    width: 900px;
    height: 800px;
    background-color: beige;
    border: 1px black solid;
    left: 50%;
    margin-left: -450px;
}
.topic{
    position: relative;
    width: 100%;
    height: 25%;
    background-color: green;
}
.main{
    position: relative;
    width: 100%;
    height: 65%;
    background-color: red;
}
.futer{
    position: relative;
    width: 100%;
    height: 10%;
    background-color: green;
}/*my coment*/